.amenities
  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

  header

    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0
    padding-left: 50px
    padding-right: 50px

    .grid-x
      padding-top: 50px
      padding-bottom: 0

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        #copy
          display: flex
          flex-direction: column

          p 
            padding-right: 25px
            flex-grow: 1

    @media (max-width: 640px)
      img 
        display: none

  #section3
    padding-top: 0

    @media (max-width: 767px)
      padding-bottom: 50px

    @media (max-width: 640px)
      padding-bottom: 50px

    h2
      margin-bottom: 28px

    a 
      display: inline-block
      color: #bd9c59
      padding-bottom: 10px

  #section4

    @media (max-width: 767px)
      padding-top: 50px

    @media (max-width: 640px)
      padding-top: 50px

  #section4,
  #section6
    padding-bottom: 50px

    h2 
      margin-bottom: 0

      @media (max-width: 1023px)
        margin-bottom: 60px

  #section5
    padding-top: 0

    .floor-plan-description
      display: none
      
      .floor-plan-img,
      .floor-plan-cta
        display: flex
        align-items: center

  .call-to-action
    h2 
      font-size: 36px
      line-height: 58px