.contact-form 
  .contact-form__title 
    h2 
      margin-bottom: 0
  
.contact
  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

    .left
      width: 80%

    .right
      width: 20%

    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0

    .grid-x

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        #copy 
          /* position: relative */

        h1 
          width: 100%

        p 
          padding-right: 50px
          margin-bottom: 0
          font-weight: 500

          &.phone
            margin-top: 30px
            letter-spacing: 1px
            font-weight: 500

            a 
              color: #fff

  #section3
    padding-top: 0

    a 
      padding-bottom: 30px;
      display: inline-block;
      color: #d1b97b;

    .alta-button
      a 
        color: #fff

    .copy 
      display: flex
      justify-content: center

    #copy
      height: 100%

      #map
        width: 98.5%
        height: 75%

    #contact-form
      width: 400px

      li:after
        display: none

      p 
        line-height: 30px
        margin-bottom: 60px

      @include breakpoint(medium down)
        padding-left: 30px
        padding-right: 30px

      .gfield_label
        font-family: minerva-modern, sans-serif
        font-size: 24px
        font-weight: 500

      .gfield_required 
        display: none

      .gform_wrapper div.validation_error
        color: #fff
        border-top: 2px solid transparent
        border-bottom: 2px solid transparent
        background-color: transparent

      .gform_wrapper li.gfield.gfield_error, 
      .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning
        background-color: transparent
        margin-bottom: 6px!important
        border-top: 1px solid transparent
        border-bottom: 1px solid transparent
        padding-bottom: 6px
        padding-top: 8px
        box-sizing: border-box

      .gform_wrapper .validation_message
        color: #d1b97b
        padding-left: 10px

      .gform_wrapper .gfield_error .gfield_label
        color: #000
        padding-left: 10px

      .gform_wrapper .description, 
      .gform_wrapper .gfield_description, 
      .gform_wrapper .gsection_description, 
      .gform_wrapper .instruction
        font-size: 18px

      select 
        width: 100%
        outline: 0

      input[type="text"],
      select
        width: 100%
        box-shadow: none
        border: 0
        border-bottom: 1px solid #000
        margin-bottom: 50px
        padding-left: 30px
        color: #888
        font-size: 16px

      select
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc)
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em
        background-size: 5px 5px, 5px 5px, 0px 1.5em
        background-repeat: no-repeat

        ::-webkit-input-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        ::-moz-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        :-ms-input-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

        :-moz-placeholder
        font-size: 16px
        font-family: benton-sans, sans-serif

      .gform_wrapper .gfield_error input[type="text"]
        margin-bottom: 0

      input[type="submit"]
        width: 100%
        background-color: #bd9c59
        font-size: 24px
        outline: 0

        &:focus
          outline: 0
          transition: .2s all ease-in-out

        &:hover 
          background-color: #161b2a
          color:#d1b97b

  #section3,
  #section4,
  #section6
    padding-bottom: 100px

    &.call-to-action
      .left
        width: 75%
        display: flex
        // justify-content: center
        align-items: center

      .right
        width: 25%
        display: flex
        justify-content: center
        align-items: center

      h2 
        margin-bottom: 0

  #section5
    padding-top: 0

    .floor-plan-description
      display: none
      
      .floor-plan-img,
      .floor-plan-cta
        display: flex
        align-items: center