.home
  #section1
    width: 75%
    height: 100vh
    padding-top: 0
    padding-bottom: 0
    background-size: cover
    background-repeat: no-repeat
    background-position: center top

    @include breakpoint (medium down) 
      width: 100%
      background-size: cover
      background-position: center top
      padding-left: 20px
      padding-right: 20px
      padding-top: 0

    @include breakpoint (medium down)
      width: 100%

  
    #tagline
      display: flex
      justify-content: flex-end
      height: 90vh
      flex-direction: column

      @media (max-width: 1600px)
        height: 90vh

      @media (max-width: 640px)
        height: 90vh
        padding-bottom: 20px

      h1 
        font-size: 24px
        color: #ffffff
        padding-left: 70px
        margin-bottom: 60px

        @media (max-width: 1600px)
          margin-bottom: 20px

        @media (max-width: 1366px)
          font-size: 20px
          margin-bottom: 20px

        @media (max-width: 1024px)
          font-size: 20px
          padding-left: 50px
          margin-bottom: 20px

        @media (max-width: 823px)
          padding-left: 50px

        @media (max-width: 767px)
          font-size: 20px
          padding-left: 0
          margin-bottom: 20px

        @media (max-width: 640px)
          font-size: 16px
          padding-left: 0
          margin-bottom: 20px

      h3 
        font-size: 86px
        color: #fff
        padding-left: 70px
        letter-spacing: -3px
        line-height: 1
        margin-bottom: 60px

        @media (max-width: 1600px)
          font-size: 64px
          margin-bottom: 20px

        @media (max-width: 1366px)
          font-size: 64px
          margin-bottom: 20px

        @media (max-width: 1024px)
          padding-left: 50px
          font-size: 64px
          margin-bottom: 20px

        @media (max-width: 767px)
          font-size: 31px
          padding-left: 0
          margin-bottom: 20px

  #section2
    width: 100%
    height: 20vh
    position: relative
    background-color: #161b2a
    padding-top: 0
    padding-bottom: 0

    
    @media (max-width: 767px)
      width: 100%
      height: 100%
      padding-left: 0
      padding-right: 0

    .quote

      display: flex
      align-items: center
      height: 100%
      padding: 0
      justify-content: flex-start

      @include breakpoint(medium down)
        padding: 20px 30px

      .grid-x
        width: 75%
        text-align: center

        @media (max-width: 823px)
          width: 100%

      br 
        
        @include breakpoint (small only) 
          display: none

      p
        max-width: 100%
        color: #fff
        font-family: minerva-modern, sans-serif
        font-size: 36px
        line-height: 58px
        margin-bottom: 0
        padding: 20px 30px

        @media (max-width: 2048px)
          font-size: 29px

        @media (max-width: 1366px)
          font-size: 30px
          line-height: 30px
          padding: 20px

        @media (max-width: 823px)
          font-size: 30px
          line-height: 44px
          padding: 20px

        @media (max-width: 767px)
          font-size: 16px
          line-height: 20px
          padding: 20px 0

  #section2
    width: 100%
    height: 100vh
    position: relative
    padding-top: 0
    padding-bottom: 0

    @media (min-width:1024px) and (max-width:1366px) and (orientation: portrait)
      height: 60vh

    @media (max-width: 823px)
      width: 100%
      height: 100%
      padding-left: 0
      padding-right: 0

    .quote
      height: 20vh

      @media (max-width: 823px) and (orientation: landscape)
        height: 30vh

    #sidebar
      position: absolute
      top: 0
      right: 0
      z-index: 1
      width: 25%
      height: 100%
      background-repeat: no-repeat
      cursor: pointer

      @include breakpoint(medium down)
        display: none

      .sidebar-fixed
        display: flex
        flex-direction: column
        height: 100%

      img 
        width: 100%
        height: 60vh

      .textbox-sidebar
        height: 45vh
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 40px
        background-color: #fff
        flex: 1

        h3 
          color: #000
          font-size: 40px
          line-height: 40px 
          margin-bottom: 40px

          @include breakpoint(large down)
            font-size: 32px
            line-height: 40px

          @include breakpoint(medium down)
            font-size: 36px
            line-height: 48px

        p 
          font-size: 22px
          line-height: 30px
          font-weight: 400

          @include breakpoint(large down)
            font-size: 18px

      #cta-sidebar
        height: 80px

        a
          width: 100%
          height: 100%
          display: block
          color: #fff
          background-color: #bd9c59
          text-align: center
          font-family: minerva-modern, sans-serif
          font-size: 24px
          line-height: 80px
          outline: 0
          cursor: pointer
          z-index: 9999
          transition: .25s all ease-in-out

          &:focus
            outline: 0
            transition: .2s all ease-in-out

          &:hover 
            background-color: #161b2a
            color:#d1b97b

        span 
          font-size: 40px
          color: #fff
          line-height: 80px

    .boxes

      background-color: #fff
      height: 80vh

      @include breakpoint(medium down)
        height: auto

      .grid-container 
        width: 100%
        height: 100%

      .grid-x
        height: 100%

        @include breakpoint(large down)
          font-size: 32px
          padding-left: 0

        @include breakpoint(medium down)
          padding-left: 0
          font-size: 30px
          line-height: 50px

        h3
          color: #fff
          font-size: 44px
          line-height: 40px
          margin-bottom: 40px

          @media (max-width: 2048px)
            font-size: 48px
            line-height: 50px
            padding-right: 20%

          @media (max-width: 1980px)
            font-size: 48px
            line-height: 50px
            padding-right: 20%

          @media (max-width: 1830px)
            font-size: 40px
            line-height: 44px
            padding-right: 20%

          @media (max-width: 1680px)
            font-size: 40px
            line-height: 44px
            padding-right: 20%

          @media (max-width: 1540px)
            font-size: 34px
            line-height: 36px
            padding-right: 20%

          @media (max-width: 1470px)
            font-size: 34px
            line-height: 36px
            padding-right: 20%

          @media (max-width: 1320px)
            font-size: 30px
            line-height: 36px
            padding-right: 20%

          @include breakpoint(large down)
            font-size: 30px
            line-height: 36px

          @include breakpoint(medium down)
            padding-left: 0
            padding-bottom: 0
            font-size: 30px
            line-height: 36px

        .cell
          height: 100%
          display: flex
          flex-direction: column
          justify-content: flex-end
          position: relative
          transition: .25s all ease-in-out
          padding: 0 30px

          @include breakpoint(large down)
            padding: 0 30px

          &:before
            content: ''
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background-color: transparent
            transition: .25s all ease-in-out

        .box
          background-repeat: no-repeat
          background-position: left top
          background-size: cover

          @include breakpoint(medium down)
            height: 480px

          &:hover 

            h3 
              position: relative
              color: #000
              margin-bottom: 50px

              @include breakpoint(large down)
                padding-bottom: 0

            #cta 
              position: relative
              height: auto
              opacity: 1
              font-size: 17px
              line-height: 24px
              padding-bottom: 20px

              @include breakpoint(large down)
                padding-left: 0
                padding-right: 0
                padding-bottom: 10px
                font-size: 15px

              @include breakpoint(medium down)
                font-size: 13px

            &:before
              content: ''
              width: 100%
              height: 100%
              position: absolute
              top: 0
              left: 0
              background-color: rgba(255,255,255,0.88);
              transition: .25s all ease-in-out

  #section4
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 150px