.alta-button
  width: 320px
  height: 80px
  right: 0
  top: 0

  .cta-button
    transition: all .3s cubic-bezier(.7, .0, .3, 1)

    &:focus
      outline: 0
      transition: .2s all ease-in-out

    &:hover 
      background-color: #161b2a
      color: #d1b97b

  a
    width: 100%
    height: 100%
    display: block
    color: #fff
    background-color: #bd9c59
    text-align: center
    font-family: minerva-modern, sans-serif
    font-size: 24px
    line-height: 80px
    outline: 0
    cursor: pointer
    z-index: 9999

    @include breakpoint(medium down)
      font-size: 20px
      opacity: 1

  span 
    font-size: 40px
    color: #fff
    line-height: 80px 