$xy-grid: true;
$grid-container: 1160px
$grid-columns: 12;
$grid-margin-gutters: (small: 20px, medium: 30px);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: 100%;
$xy-block-grid-max: 8;
