.gallery-controls 
  button
    background: none
    color: #bd9c59
    padding: 0
    margin-right: 50px
    font-size: 1.250rem
    font-family: 'bentons-sans', sans-serif
    letter-spacing: 0

    &:last-child
      margin-right: 0
    
    &:hover
      color: #bd9c59

    &:after
      content: none
    
.media-container,
.gallery-container
  display: flex
  align-content: space-evenly
  flex-wrap: wrap
  margin: 2rem 0 8rem

  .mix
    //flex-basis: calc(100%/3)
    padding: 8px

    img
      display: block
      margin: auto

.image-altanv-slider
  position: relative

.tabs

  display: flex
  li
    margin-right: 50px

    a 
      font-size: 1.250rem
      font-family: 'benton-sans', sans-serif
      color: #bd9c59

    &.current-tab a
      color: #000
      border-bottom: 1px solid #000

.tab-wrapper
  position: relative
  width: 100%
  min-height: 350px
  height: auto
  z-index: 5
  margin-bottom: 6rem

  &.page-wrapper
    margin-bottom: 0

  .tab-content
    width: 100%
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1;
    opacity: 0
    display: none
    transition: opacity 0.2s ease

    &.tab-pager
      position: relative
      display: none

      &.current-tab
        display: block
  
    &.current-tab
      z-index: 100
      opacity: 1
      display: block
      transition-delay: .2s
    
    .image-grid a
      flex-basis: calc(100%/3)
      padding: 8px
      display: block

      img
        display: block
        margin: auto

.image-slider-section
  width: 100%

.slide-wrapper
  position: relative
  z-index: 1001
  margin-bottom: 3rem

  .image-slider .image img
    width: 100%
    display: block

  @include breakpoint(large)
    margin-bottom: 10rem

.image-slider .image-slide
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 400px

  @include breakpoint(large)
    height: 800px

#section3
  .slide-controls
    position: absolute
    bottom: 0
    left: 0
    padding: .5rem
    color: #fff
    width: 100%
    height: 100%
    
    span 
      display: inline-block
      padding: 16px
      text-align: center

    .slick-prev,
    .slick-next
      width: auto
      height: auto
      color: #fff
      padding-bottom: 0
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      top: 50%
      transform: translateY(-50%)
      padding: 30px
      width: 80px
      height: 80px
      border-radius: 100%

    .slick-prev 
      left: 50px
      border: 1px solid #fff

    .slick-next
      right: 50px
      border: 1px solid #fff

      .icon.arrow
        width: 30px
        //fill: $text-color;

        &:hover
          //fill: $dark

      &:before
        content: none

