.is-open
  body
    height: 100vh
    overflow-y: hidden

    header
      .left
        width: 100%

        #access 
          &>a 
            display: none

      .right
        display: none

    .nav-link__icon
      background: #fff
      transition-delay: .12s
      transition-timing-function: cubic-bezier(.215,.61,.355,1)
      transform: rotate(45deg)

      &:before
        top: 0;
        transition: top 75ms ease,opacity 75ms ease .12s
        opacity: 0;

      &:after
        bottom: 0;
        transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
        transform: rotate(-90deg)
        background-color: #fff

    &.scrolled
      header
        #logo 
          img:first-of-type
            display: block

          img:last-of-type
            display: none

.nav-link
  display: inline-block
  overflow: visible
  margin: 0
  padding: 0
  cursor: pointer
  transition-timing-function: linear
  transition-duration: .15s
  transition-property: opacity,filter
  text-transform: none
  color: $black
  border: 0
  background-color: transparent
  position: relative
  right: 0
  z-index: 9999
  margin-top: -2px

  @media (max-width: 767px)
    right: 20px

  .nav-link__outer
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;


  .nav-link__icon
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
    top: 50%;
    display: block;
    margin-top: 0;
    position: absolute;
    width: 24px;
    height: 3px;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;

    &:before
      content: ''
      right: 0
      top: -8px
      transition: top 75ms ease,opacity 75ms ease .12s
      position: absolute;
      width: 24px;
      height: 3px;
      transition-property: transform;
      border-radius: 4px;
      background-color: #fff;

    &:after
      content: ''
      right: 0
      bottom: -8px
      transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
      position: absolute
      width: 24px
      height: 3px
      transition-property: transform
      border-radius: 4px
      background-color: #fff

.scrolled 
  .nav-link__icon
    transition-timing-function: cubic-bezier(.55,.055,.675,.19)
    transition-duration: 75ms
    top: 50%
    display: block
    margin-top: 0
    position: absolute
    width: 24px
    height: 3px
    transition-property: transform
    border-radius: 4px
    background-color: #001646

    &:before
      content: ''
      right: 0
      top: -6px
      transition: top 75ms ease,opacity 75ms ease .12s
      position: absolute
      width: 24px
      height: 3px
      transition-property: transform
      border-radius: 4px
      background-color: #001646

    &:after
      content: ''
      right: 0
      bottom: -6px
      transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
      position: absolute
      width: 24px
      height: 3px
      transition-property: transform
      border-radius: 4px
      background-color: #001646

