header
  #access
    nav
      width: 100%
      height: 100vh
      position: fixed
      top: 0
      left: 0
      transition: all .2s ease-out
      opacity: 0
      visibility: hidden
      overflow: hidden
      background-color: #161b2a
      background: #161b2a url(/wp-content/uploads/2019/10/Pattern@2x.png) right center / cover no-repeat
        
      @media (max-width: 1024px)
        overflow-y: auto

    .header__nav
      @media (max-width: 640px)
        overflow-y: hidden

      .container 
        height: 100%

        .menu-main-navigation-links-container
          display: flex
          flex-direction: column
          list-style: none
          justify-content: center
          align-items: flex-start

          @media (max-width: 1023px) and (orientation: landscape)
            //padding-top: 50vh

          ul 
            flex-direction: column
            text-align: left

            li
              margin-top: 0
              margin-right: 0
              margin-bottom: 0

              &:last-child
                margin-bottom: 1vh

              a 
                display: inline-block
                position: relative
                font-size: 4vh
                text-decoration: none
                padding-left: 0
                margin-bottom: 5px
                line-height: 1
                cursor: pointer
                margin-bottom: 3vh

                span 
                  font-size: 32px
                  font-style: italic

        #cta 
          max-width: 400px
          padding-bottom: 40px
          text-align: left

          @media (max-width: 1440px)
            max-width: 300px

          @media (max-width: 823px)
            max-width: 220px
            padding-bottom: 3vh

          a
            width: 100%
            height: 100%
            display: block
            position: relative
            color: #fff
            background-color: #bd9c59
            text-align: center
            font-family: minerva-modern,sans-serif
            font-size: 24px
            line-height: 2.5em
            outline: 0
            cursor: pointer
            z-index: 9999
            transition: all .25s ease-in-out
            cursor: pointer

            &:before
              content: ''
              position: absolute
              left: 0
              width: 100%
              height: 100%
              background-color: transparent
              transition: .25s ease-in-out

            &:focus
              outline: 0

            &:hover              
              &:before
                content: ''
                position: absolute
                left: 0
                width: 100%
                height: 100%
                background-color: rgba(255,255,255,0.2)

            @media (max-width: 823px)
              max-width: 220px
              font-size: 20px

        #canvas-links

          @media (max-width: 823px)
            text-align: left

          ul 
            flex-direction: column

          a 
            width: 300px
            display: block
            text-align: left
            padding-left: 0
            margin-bottom: 5px
            font-family: 'benton-sans', sans-serif
            font-size: 16px
            font-weight: 500
            line-height: 1
            cursor: pointer
            margin-right: 20px

            @media (max-width: 823px) and (orientation: landscape)
              display: inline

          a:last-child
            margin-bottom: 10px

        #canvas-social
          text-align: left

          @media (max-width: 823px)
            display: none

          a
            font-family: dashicons
            font-size: 18px
            width: 32px
            height: 32px
            display: inline-block
            margin: 0 5px 0 0
            padding-left: 0
            cursor: pointer

        .links
          display: flex
          flex-direction: column
          align-items: center
          
          button 
            display: inline-block
            width: 155px
            margin-bottom: 18px
            border: 2px solid #c4ad6b
            padding: 10px 40px
            background: transparent 
            font-size: 14px
            font-weight: 600
            color: #fff
            text-transform: uppercase
            transition: .2s all ease
            outline: 0

            &:hover
              border-color: #89a8e0
              background-color: #89a8e0
              outline: 0

          .number
            margin-bottom: 105px
            color: #fff
            font-family: benton-sans,sans-serif
            font-style: italic
            font-size: 22px

          .residents
            display: inline-block
            position: relative
            font-family: benton-sans,sans-serif
            font-style: italic
            font-size: 24px

            &:hover
              &:after
                transform: translateX(20px)
                border-bottom: 2px solid #89a8e0

            &:after
              content: ''
              position: absolute
              left: 0
              bottom: -3px
              border-bottom: 2px solid #c4ad6b
              width: 100%
              transition: transform .2s ease-out,border .2s ease-out


.is-open
  #access
    .header__nav
      opacity: 1
      visibility: visible
      z-index: 10
      padding-left: 40px

      &.section
        padding-top: 20vh

      @media (max-width: 767px)
        padding-left: 20px
        padding-right: 20px

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
