#scroll
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  color: #fff
  left: 50%
  bottom: 50px
  transform: translateX(-50%)
  cursor: pointer

  @media (max-width: 1023px)
    display: none
  
  a 
    color: #fff;
    font-family: minerva-modern,sans-serif;
    font-weight: bold;
    font-size: 15px;

  &:after
    content: '|';
    position: absolute
    display: flex
    justify-content: center
    font-size: 18px
    color: #fff
    top: 20px