.tagline 
  font-size: 36px
  text-align: center
  color: #bd9c59
  font-family: 'minerva-modern', serif
  margin-bottom: 0

  p 
    font-family: 'minerva-modern', serif

  @media (max-width: 1023px)
    font-size: 30px

  .tag-text 
    font-family: 'minerva-modern', serif